/* styles.css */

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(135deg, #007BFF, #00C6FF);
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

header p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    font-weight: 300;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f4f4f4;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1.5rem;
}

h1, h2, h3 {
    color: #333;
}

h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 0.5rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills li {
    background: #007BFF;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 50px;
    list-style: none;
    flex-basis: 45%;
    text-align: center;
}

.projeto, .experiencia {
    margin-bottom: 2rem;
}

.projeto a, .experiencia a {
    display: inline-block;
    margin-top: 1rem;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.projeto a:hover, .experiencia a:hover {
    color: #0056b3;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    margin-top: 2rem;
}

a:hover {
    color: #0056b3;
}